*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f5f5f5;
}
header{
    font-weight:bold;
    padding-left:2%;
    color:purple;
    font-size: 150%;
    padding-right:1%;
}
.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:center;
}
#quizQuestionsPage{
    display:none;
    position: relative;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
    text-align:center;

}
#timer{
    font-weight:bold;
    float:right;
    display:none;
    position: relative;
    width: 400px;
    /* justify-content: space-between; */
    /* align-items: center; */
}
#quizEndPage{
    display:none;
    position: relative;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
    text-align:center;
}
#highScorePage{
    display:none;
    position: relative;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
    text-align:center;
}
p{
    padding-top:40px;
    font-size: 20px;
    color: purple;
    padding-bottom: 10px;
}
h1{
    font-size: 50px;
}
#startQuizButton{
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
#startQuizButton:hover{
    background-color: #4d004d;
}

#quizQuestionsPage button{
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
#quizQuestionsPage button:hover{
    background-color: #4d004d;
}
#quizEndPage button{
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
#quizEndPage button:hover{
    background-color: #4d004d;
}
#highScorePage button{
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
#highScorePage button:hover{
    background-color: #4d004d;
}
#highScorePage ol{
    list-style-type: decimal;
    padding-left: 0;
}
#highScorePage li{
    padding: 10px;
    font-size: 20px;
    color: purple;
}
h2{
    font-size: 40px;
}