/* sets the global margin and padding to 0. Also set the box-sizing to border box, so that the padding and border are included into the height and width. Set font to Poppins */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* sets the display to flex, and aligns the items items to the center as well as packing them towards the center, because of justify content. Sets a minimum height, and a background color of light grey */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f5f5f5;
}
/* sets the font to bold, with a slight left padding, with the font text set to purple. setting the font to 150% of it's original size */
header{
    font-weight:bold;
    padding-left:2%;
    color:purple;
    font-size: 150%;
    padding-right:1%;
}
/* sets the position for the container, as well as the width to 1100px.Also spaces the items to distribute evenly throughout the container  */
.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:center;
}
/* sets the element to initially not be displayed */
#quizQuestionsPage{
    display:none;
    position: relative;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
    text-align:center;

}
/* sets the width, position, and bold to the timer */
#timer{
    font-weight:bold;
    float:right;
    display:none;
    position: relative;
    width: 400px;
}
/* sets the element to initially not be displayed */
#quizEndPage{
    display:none;
    position: relative;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
    text-align:center;
}
/* sets the element to initially not be displayed */
.highScorePage{
    display:none;
    position: relative;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
    text-align:center;
}
/* sets padding, font color, and font size for all p tags */
p{
    padding-top:40px;
    font-size: 20px;
    color: purple;
    padding-bottom: 10px;
}
/* sets font size for all h1 tags */
h1{
    font-size: 50px;
}
/* sets the background color and font color, as well as size for the start quiz button */
#startQuizButton{
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
/* makes it so when you hover over the button, the shade of the color changes */
#startQuizButton:hover{
    background-color: #4d004d;
}
/* sets the background color and font color, as well as size for the quiz question buttons */
#quizQuestionsPage button{
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
/* makes it so when you hover over the button, the shade of the color changes */
#quizQuestionsPage button:hover{
    background-color: #4d004d;
}
/* sets the background color and font color, as well as size for the submit score button */
#quizEndPage button{
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
/* makes it so when you hover over the button, the shade of the color changes */

#quizEndPage button:hover{
    background-color: #4d004d;
}
/* sets the background and font color as well as the size for the buttons on the high score page */
#highScorePage button{
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
/* makes it so when you hover over the button, the shade of the color changes */
#highScorePage button:hover{
    background-color: #4d004d;
}
/* sets the style of the list, to be numbered */
#highScorePage ol{
    list-style-type: decimal;
    padding-left: 0;
}
/* sets the font size and color, as well as the padding for the li in the ol */
#highScorePage li{
    padding: 10px;
    font-size: 20px;
    color: purple;
}
/* sets the font size for all h2 tags */
h2{
    font-size: 40px;
}